<header>
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-primary" style="display: flex; justify-content: space-between">
    <img alt="pasta logo" src="/img/pasta.png" class="navbar-brand"/>
    <p id="restaurant-name">Mamma Mia!</p>
    <div id="navbarNavAltMarkup">
      <div class="navbar-nav navbar-links">
        <a class="nav-item nav-link" href="/orders">My Order</a>
        <a class="nav-item nav-link" href="/home">Home</a>
        <a class="nav-item nav-link" href="/home/login">Login</a>
        <a class="nav-item nav-link" href="/home/register">Register</a>
      </div>
    </div>
  </nav>
</header>
