<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU</title>
    <link rel="stylesheet" href="/styles/menu.css" types="text/css">
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
  <nav><%- include('partials/_header') %></nav>
    <h1>MENU PAGE</h1>
   <% for (let item of imageURL) { %>

    <article class="foodBox">
      <section class="foodBox-img">
        <img src= '<%= item.url%>'>
      </section>
      <section class="container">
      <section class="foodBox-description">
        <h3 class="foodBox-title"> <%= item.name %></h3>
        <p class="foodBox-text"><%= item.description  %></p>
      </section>
      <section class="price">
        <h5 class="foodBox-price"><%item.price %></h5>
        <input type="number" id="quantity" name="quantity" min="1" max="10">
      </section>
      <footer>
        <button type="submit" class="foodBox-add-order">Add to Order</button>
      </footer>
    </section>
    </article>

  <% } %>


  </body>
</html>
