section.orderSummary {
  text-align: center;
  width:300px;
  display: inline-block;
  margin-top: 100px;
  margin-left: 690px;
  font-family: 'Oxygen', serif;
}
ul.orderedList {
  list-style-type: none;
  text-align: left;
}

.list-article {
  text-align: center;
  margin-bottom: 2em;
}
span.quantity{
  float: left;
  font-weight: bold;
}
span.price{
  float: right;
  font-weight: bold;
}
header.section-heading{
  margin-bottom: 30px;
}
