body {
  display:flex;
  justify-content: center;
  margin-bottom: 30px;
}

section.orderSummary {
  text-align: center;
  width: 500px;
  display: inline-block;
  font-family: 'Oxygen', serif;
  font-weight: 400;
  font-size: 24px;
  color: #284B59;
}

.response-container {
  padding: 10px 20px;
  width: auto;
  display: flex;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 15px 5px #8a8a8a;
  word-wrap: normal;
  background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
}

ul.orderedList {
  list-style-type: none;
  text-align: left;
}

.list-article {
  text-align: center;
  margin-bottom: 15px;
}
span.quantity{
  float: left;
  font-weight: bold;
}
span.price{
  float: right;
  font-weight: bold;
}
header.section-heading{
  margin-bottom: 20px;
}

#status-button {
  background-color: #284b59;
  margin: 10px;
}

#status-button:hover {
  background-color: #3a6e83;
}

.order-text {
  font-size: 30px;
  font-weight: 700;
}
.unit-price{
  display:none;
}
